<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label for='userEmail'>e-mail</label> <br>
        <input name='userEmail' type="email"><br>
        <label for= 'userPassword'>password</label><br>
        <input name='userPassword' type="password"><br>
        <button type='submit' class='loginButton'>login</button>
        <a href="/signUp">회원가입</a>
    </form>
</body>
</html>